<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * The content below * * * * * * * * * * *
 * * * * * * * * * * is only a placeholder * * * * * * * * * *
 * * * * * * * * * * and can be replaced. * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * Delete the template below * * * * * * * * * *
 * * * * * * * to get started with your project! * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<mat-grid-list cols="1" rowHeight="100%">
  <mat-grid-tile  colspan="1" rowspan="1">
    <mat-grid-tile-header>
       Morse2String
    </mat-grid-tile-header>
    <div class="mat-content">
      <mat-label>Welcome to Morse2String. A simple Morse code to String Converter and Viceversa.</mat-label>
      <mat-card>
        <form [formGroup]="morseForm">
        <mat-form-field class="form-full-width">
          <mat-label>Enter some Text here.</mat-label>
          <input matInput placeholder="Enter a string from A-Z | 0-9"  formControlName="string"
                 (input)="convertToMorse($event)" >
          <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="resetFormInput('string')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Enter Morse Code here.</mat-label>
          <input matInput placeholder="Use Space to seperate codes." (input)="convertToString($event)" formControlName="morseCode">
          <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="resetFormInput('morseCode')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        </form>
      </mat-card>
      <mat-card>
        <h2>Results:</h2> <br />
        <p>Morse Code: {{resultMorseCode}}<br />      </p>
        <p>String: {{resultString}} </p>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>

