<mat-grid-list cols="1" rowHeight="100%">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-grid-tile-header>
      Morse2String
    </mat-grid-tile-header>
    <div class="mat-content">
      <mat-label>Willkommen bei Morse2String. Ein simpler Morse-Code zum String-Konverter und vice versa.</mat-label>
      <mat-card>
        <h2>Eingabe:</h2> <br/>
        <form [formGroup]="morseForm">
          <mat-form-field appearance="outline">
            <mat-label>Hier Text eingeben(a-z | A-Z |0-9)</mat-label>
            <input matInput formControlName="string" (input)="convertToMorse($event)">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="resetFormInput('string')">
              <mat-icon>close</mat-icon>
            </button>
              <mat-hint>Bitte verwenden Sie die Zeichen A-Z | 0-9.</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Hier Morse-Code eingeben.(dot | dash)</mat-label>
            <input matInput (input)="convertToString($event)" formControlName="morseCode">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="resetFormInput('morseCode')">
              <mat-icon>close</mat-icon>
            </button>
              <mat-hint>Bitte verwenden Sie Leerzeichen, um Buchstaben zu trennen.</mat-hint>
          </mat-form-field>
        </form>
      </mat-card>
      <mat-card>
        <h2>Ergebnisse:</h2> <br/>
        <p>Morsecode: {{resultMorseCode}}<br/></p>
        <p>Text: {{resultString}} </p>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>

